body {
    height: 100%;
    width: 100%;
}
.body{
    height: 65vh;
}
.signinContainer {
    height: 340px;
    display: flex;
    flex-direction: column;
    width: 400px;
    /* border: 2px solid black; */
    border-radius: 12.8px;
    margin: 100px auto;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.Heading{
    height: 30px;
    width: 80px;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(85, 84, 84, 0.714);
}

.signininput {
    height: 30px;
    width: 240px;
    margin-left: 20px;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px;
}

.button {
    background-color: black;
    color: white;
    font-size: large;
    width: 60%;
    align-self: center;
    margin-top: 30px;
    border-radius: 14.8px;
    border: none;
    margin-left : 75px ;
}

label {
    display: inline-flex;
    width: 78px;
    
}

.block {
    display: flex;
    width: 100%;
    align-self: center;
}

.button:hover {
    color: black;
    background-color: white;
    /* border: 1.5px solid black; */
}

@media (max-width:500px) and (min-width:300px) {
    .loginContainer{
     width: 290px;
    }
    .signininput{
        width: 130px;
        border-bottom: 1px solid rgba(125, 124, 124, 0.444);
        margin-left: 5px;
    }
    .button{
        font-size: medium;
        margin-top: 20px;
        margin-left: 44px;
    }
}  
