.MainScrollContainer{
    height: 320px;
    width: 100%;
    /* border: 2px solid red; */
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.otherContainer {
  height: 320px;
  width: 90%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 15px;
}
.inBox {
  height: 100%;
  min-width: 370px;
  background-color: rgba(255, 255, 255, 0.433);
  border: 2px solid rgba(55, 54, 54, 0.645);
  /* padding: 15px; */
}
.scrollImages {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
